.login_form {
  background-color: #ffffff;
  width: 380px;
  height: 496px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e4e4e4;
  border-radius: 30px;
  margin-top: 50px;
}

.login_form img {
  width: 42.6px;
  height: 42.2px;
  margin-top: 51px;
}

.login_form h1 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 16.5px;
  color: #282828;
}

.login_form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 63px;
}

.login_form input {
  background-color: #f2f2f2;
  width: 350px;
  height: 43px;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-radius: 15px;
  padding: 22px 15px;
}

.login_form button {
  background-color: #55a3f0;
  color: #f2f2f2;
  width: 350px;
  height: 43px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  text-align: center;
  border-radius: 15px;
  margin-top: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login_form button:hover {
  background-color: #000000;
  color: #F2F2F2;
  
}

.login_form span {
  width: 100px;
  margin-top: 10px;
}

.login_form a {
  text-decoration: none;
  color: #3a8bed;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}

.login_form span :hover {
  color: black;
}
