.register_form{
background-color: #FFFFFF;
width: 380px;
height: 496px;
display: flex;
flex-direction: column;
align-items: center;
border: 1px solid #e4e4e4;
border-radius: 30px;
margin-top: 50px;
}

.register_form img {
width: 42.6px;
height: 42.2px;
margin-top: 51px;
}

.register_form h1 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 16.5px;
    color: #282828;
}

.register_form div {
display: flex;
flex-direction: column;
gap: 10px;
margin-top: 63px;
}

.register_form input {
 background-color: #F2F2F2;
width: 350px;
height: 43px;
font-size: 15px;
font-weight: 400;
border: none;
border-radius: 15px;
padding: 22px 15px ;

}

.register_form button {
    background-color: #55A3F0;
    color: #F2F2F2;
    width: 350px;
    height: 43px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    text-align: center;
    border-radius: 15px;
    margin-top: 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.register_form button:hover {
    background-color: #000000;
    color: #F2F2F2;
    

}

.register_form span {
    width: 100px;
    margin-top: 10px;

}


.register_form a {
    text-decoration: none;
    color: #3A8BED;
    font-size: 12px;
    transition: all 0.3s ease-in-out;

}

.register_form span :hover {
    color: black;
}