:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  
}

body {
  background-color: #f7f8f8;
  display: flex;
  justify-content: center;
 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
